*{
    font-family: 'Roboto', sans-serif;
}
.nav{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
}
.nav-title{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: white;
}
li{
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}
a{
    color: white;
    opacity: 0.7;
    text-decoration: none;
}
a:hover{
    opacity: 1.0;
}
.btn{
    color: white;
    opacity: 0.7;;
    background-color: cornflowerblue;
    border-width: 3px;
    border-color: black;
    box-shadow: 4px 4px black;
}
.btn:hover{
    opacity: 1.0;
}