
.top{
    height: 100px;
    width: 1000px;
    background-color: black;
}
h1{
    color: white;
}
span{
    color: aqua;
}
.mid{
    height: 75px;
    width: 1000px;
    background-color: rebeccapurple;
}
h2{
    color: white;
    text-align: center;
}
.bottom{
    height: 50px;
    width: 1000px;
    background-color: lightblue;
}
h3{
    color: black;
    text-decoration: underline;
    text-align: right;
}